<div class="topcoat-navigation-bar">
  <div class="topcoat-navigation-bar__item left quarter">
    <button class="topcoat-icon-button--large strip-button-border" ng-click="back()">
      <div class="icomatic">back</div>
    </button>
  </div>
  <div class="topcoat-navigation-bar__item center half">
    <h1 class="topcoat-navigation-bar__title">Reminder</h1>
  </div>
  <div ng-controller="MainCtrl" class="topcoat-navigation-bar__item right quarter">
    <button class="topcoat-icon-button--large strip-button-border" ng-click="go('/about')">
      <div class="icomatic">question</div>
    </button>
  </div>
</div>

<div ng-controller="ReminderCtrl" ng-cloak>
  <form class="add-reminder-form" action="#" ng-submit="submitForm()">
    <div id="add-reminder-form-inputs">
      <label>Name: <input type="text" class="topcoat-text-input" placeholder="Reminder name" ng-model="reminder.name" required /></label>
      <label>Time: <input type="time" ng-model="reminder.time" required /></label>
      <label class="topcoat-radio-button">
        Daily:
        <input type="radio" ng-model="reminder.freq" value="daily" required >
        <div class="topcoat-radio-button__checkmark"></div>
        Every-other-day:
        <input type="radio" ng-model="reminder.freq" value="semiDaily" >
        <div class="topcoat-radio-button__checkmark"></div>
      </label>
      <label>Message: <input type="text" class="topcoat-text-input" placeholder="Reminder text" ng-model="reminder.message" /></label>
    </div>
    <div id="add-reminder-form-controls">
      <button type="submit" class="topcoat-button--large--cta">Save</button>
      <button type="reset" class="topcoat-button--large--quiet" ng-click="back()">Cancel</button>
    </div>
  </form>
</div>
