<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">NeuroNEXT RX</h1>
        <a class="navbar-brand" href="#">ng-reminders</a>
        <a class="topcoat-button" href="#/addReminder">Add</a>
    </div>
</div>
<div class="topcoat-button-bar">
  <div class="topcoat-button-bar__item">
    <button class="topcoat-button-bar__button" hm-tap="go('/')">Reminders</button>
  </div>
  <div class="topcoat-button-bar__item">
    <button type="button" class="topcoat-button-bar__button" hm-tap="go('/addReminder')">Add Reminder</button>
  </div>
</div>
